@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #000300; */
  background-image: url("/src/bg/bg.jpg"), linear-gradient(#000000, #d13531);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

@media(min-width: 380px){
  body{
  background: url("/src/bg/bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  }

}

